h1 {
  color: #3F5C42;
  font-size: 24px;
  font-family: verdana, sans-serif;
}

h2 {
  color: #F58529;
  font-size: 20px;
  font-family: verdana, sans-serif;
}

h3 {
  color: #F58529;
  font-size: 17px;
  font-family: verdana, sans-serif;
}



<body style="background-color:#A1CDF4;">

.gallery {
  column-count: 3;
  column-gap: 15px;
}

.item {
  break-inside: avoid;  
  margin-bottom: 15px;
}

.item img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.item p {
  margin: 5px 0 0;
  font-size: 14px;
}


