h1 {
  color: #3F5CA2;
  font-size: 40px;
  font-family: indie flower, sans-serif;
}

h2 {
  color: #F58529;
  font-size: 30px;
  font-family: indie flower, sans-serif;
}

h3 {
  color: #F58529;
  font-size: 25px;
  font-family: verdana, sans-serif;
}

body {
  background-color: #A1CDF4;
}

.gallery {
  column-count: 3;
  column-gap: 15px;
}

.item {
  break-inside: avoid;  
  margin-bottom: 15px;
}

.item img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.item p {
  margin: 5px 0 0;
  font-size: 14px;
}

section {
  background: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 600px;
}

header {
  background: linear-gradient(135deg, #FFC1CF, #FFE66D);
  padding: 40px;
  text-align: center;
  color: white;
}

body {
  color: #203A69;
  background-color: #A1CDF4;
}

body {
  background-color: #A1CDF4;
  background-image: url('pngtree-lined-paper-texture-on-a-notebook-page-perfect-for-background-design-picture-image_13425380.jpg.png');
  background-repeat: repeat;
  background-size: auto;
}

muehehe



